.navbar-nav .nav-link{border:1px solid; padding: 5px 5px !important; margin-right: 14px; border-radius: 6px; background: #0c67b5;
    color: #fff !important; font-size:13px !important;}
.hidden{display:none;}   